@use "styles/variables" as *;
@use "styles/mixins" as *;

.spinner {
  @include flex-center;

  width: 100%;
  min-height: 300px;

  &__circle {
    border-radius: 50%;

    border: 3px solid $color-brand-border-faint;
    border-top-color: $color-brand;

    animation: spinner-rotate 0.8s linear infinite;
  }

  &--sm &__circle {
    width: 20px;
    height: 20px;
  }

  &--md &__circle {
    width: 32px;
    height: 32px;
  }

  &--lg &__circle {
    width: 48px;
    height: 48px;
  }
}

@keyframes spinner-rotate {
  to {
    transform: rotate(360deg);
  }
}
